@page
@model CandyStore.Pages.Managers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Менеджеры по продажам</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.DateBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.DateBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manager.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manager.Category)
        </dd>

        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Manager.Sales)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Проданная продукция</th>
                </tr>
                @foreach (var item in Model.Manager.Sales)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Production.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manager?.ManagerID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
