@page
@model CandyStore.Pages.Buyers.IndexModel

@{
    ViewData["Title"] = "Buyers";
}

<h1>Покупатели</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Buyers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyers[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buyers[0].City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Buyers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BuyerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BuyerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BuyerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
