@page
@model CandyStore.Pages.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SaleDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Manager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Manager.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Production)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Production.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Buyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Buyer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Buyer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Buyer.City.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale?.SaleID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
